@using SignalR.DTOLayer.Product;
@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menümüz
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            @foreach (var item in ViewBag.Categories)
            {
                <li data-filter=".@item.Id">@item.Name</li>
            }
        </ul>

        <div class="filters-content">
            <div class="row grid">

                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4 all @item.CategoryId">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@item.ImageUrl" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.Name
                                    </h5>
                                    <p>
                                        @item.Description
                                    </p>
                                    <div class="options">
                                        <h6>
                                            @item.Price ₺
                                        </h6>
                                        <a onclick="showProductId(@item.Id)" style="cursor:pointer">
                                            <i class="bi bi-cart-fill m-1 text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>
     function showProductId(value) {
         var id = value;
         $.ajax({
             type:"POST",
             data: { id: id },
             contentType: "application/json; charset=utf-8",
             success: function () {
               swal("Sepet", id + " Numaralı ürün sepete eklendi", "success");
             }
         })
     }
</script>