@using SignalR.DTOLayer.ContactUs
@model List<ResultContactUsDto>
<footer class="footer_section">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            İletişim
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Konum
                                </span>
                            </a>
                            <a href="tel:@item.Phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Telefon @item.Phone
                                </span>
                            </a>
                            <a href="mailto:@item.Email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    @item.Email
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Feane
                        </a>
                        <p>
                            @item.FooterDescription
                        </p>
                        <div class="footer_social">
                            <a href="@item.Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="@item.Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="@item.LinkedIn">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="@item.Instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="@item.Pinterest">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Çalışma Saatleri
                    </h4>
                    <p>
                        Hergün
                    </p>
                    <p>
                        10.00  - 22.00
                    </p>
                </div>
            </div>
        }

        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır
                &copy; <span id="displayYear"></span> Geliştiren
                <a href="https://themewagon.com/" target="_blank">Rıdvan Çömez</a>
            </p>
        </div>
    </div>
</footer>